@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-family: 'Source Code Pro', sans-serif;
    background: burlywood;
}

input {
    display: none;
}

input, label {
    position: fixed;
    right: 150px;
    top: 300px 
}

label {
    font-size: 36px;
    color: burlywood;
    transform: 0.2s;
}

label:hover {
    font-size: 40px;
}

input:checked~label {
    left: 640px;
}

input:checked~.presentation {
    width: 50%;
}

input:checked~.features {
    display: flex;
}

.presentation {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 10px 10px 0;
    background: brown;
    box-shadow: 0px 3px 11px 0px #000000 ;

}

.presentation img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 3px 11px 0px #000000;
}

.presentation img:hover {
    height: 205px;
    width: 205px;
}


.features {
    display: none;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    
}


